<div class="row intro-tables">
    <div class="col-md-4">
      <div class="intro-table intro-table-hover first">
        <h5 class="white heading hide-hover">Soirée à deux</h5>
        <div class="bottom">
            <h4 class="white heading small-heading no-margin regular">Faites votre playsliste, fixez une date, choisissez le lieu</h4>
            <a href="#" class="btn btn-white-fill expand">Commencer</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="intro-table intro-table-hover second">
        <h5 class="white heading hide-hover">Soirée entre potes</h5>
        <div class="bottom">
          <h4 class="white heading small-heading no-margin regular">Faites votre playsliste, fixez une date, choisissez le lieu</h4>
          <a href="#" class="btn btn-white-fill expand">Commencer</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="intro-table intro-table-hover third">
        <h5 class="white heading hide-hover">Grosse teuf sa mère</h5>
        <div class="bottom">
            <h4 class="white heading small-heading no-margin regular">Faites votre playsliste, fixez une date, choisissez le lieu</h4>
            <a href="#" class="btn btn-white-fill expand">Commencer</a>
          </div>
      </div>
    </div>
  </div>
